@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.loginContainer button, nav button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #1c437c;
  cursor: pointer;
  border-radius: 5px;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #1c437c;
  display: flex;
}
.logo-name {
  font-size: 50px;
  color: white;
  font-weight: bold;
  height: 100vh;
}
.logo-name p {
  position: relative;
  top: 42%;
  left: 100px;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.login .loginContainer label {
  color: #1c437c;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: #d5d5d5a1;
  color: #1c437c;
  letter-spacing: 1px;
  border-radius: 5px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #1c437c;
}

.login .loginContainer .btnContainer p span {
  color: #1c437c;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: black;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.home__class {
  width: 100%;
  /* min-height: 100vh; */
  background: white;
}

.home__class nav {
  background: #1c437c;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__class nav h2 {
  color: #fff;
}

.home__class nav div img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 14px;
  right: 30px;
}

.home__class nav button {
  width: 86px;
  padding: 8px 0;
  background: #1c437c;
  border: 2px solid white;
}


/* ============ Media Query (Medium devices) =========== */
@media screen and (max-width:1180px){
  .login {
    display: flex;
    flex-direction: column;
  }
  .logo-name {
    display: none;
  }
  .login .loginContainer label {
    color: #1c437c;
    margin: 14px 0;
    display: block;
    font-size: 17px;
    line-height: 1;
  }
.home__class nav h2 {
  font-size: 20px;
  padding-left: 0;
}
.home__class nav {
  padding: 20px 20px;
}

  
  
}

/* ============== Media Query (Small Devices) =========== */
@media screen and (max-width:500px){
  .home__class nav h2 {
    font-size: 17px;
  }
  .right_nav img{
    display: none;
  }
}
